* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFC5D0;
}

/* .icon-section{
    padding-top: 9%;
} */
/* Section Titles */
.section-title {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

/* Offers and Recommendations */
/* .offers-section, .recommended-section {
    display: flex;
    justify-content: space-around;
    padding: 10px;
} */
.offers-section {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    padding: 1rem;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.offers-section::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.offers-section img {
    width: 11rem;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;
}
.recommended-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    max-height: 80vh; /* Adjust this value as needed */
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    margin-bottom: 5rem;
}

.recommended-section::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.recommended-section img {
    width: 100%; /* Changed from 15rem to make it responsive */
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}